#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
	PKG_CONFIG_PATH="/usr/lib/$(DEB_HOST_MULTIARCH)/pkgconfig:/usr/share/pkgconfig" \
	PKG_CONFIG_LIBDIR="/usr/lib/$(DEB_HOST_MULTIARCH)/pkgconfig:/usr/share/pkgconfig" \
	./configure --prefix=/usr

override_dh_auto_build:
	make

override_dh_auto_install:
	make DESTDIR=$(CURDIR)/debian/tmp install
